body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// basic color from material design
// https://material.io/guidelines/style/color.html#color-color-palette
$grey-100: #F5F5F5;
$grey-300: #E0E0E0;
$grey-600: #757575;

// font-color
// boostrap color
$brand-primary: darken(#428bca, 6.5%); // #337ab7
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

$wireframe-background: #ccc;
$form-background: $grey-100;


// wtt brand color
$wtt-red: red;

.font-primary {
  color: $brand-primary;
}
.font-success {
  color: $brand-success;
}
.font-info {
  color: $brand-info;
}
.font-warning {
  color: $brand-warning;
}
.font-danger {
  color: $brand-danger;
}

.container-fluid {
  padding: 0px;
}

.row {
  margin-left: auto;
  margin-right: auto;
}
// media queries
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
