// base style 
@import "base/base";

// compoent 
@import "components/app";
@import "components/login";
@import "components/navBar";
@import "components/pageProduct";
@import "components/news";
@import "components/product";
@import "components/download";
@import "components/contact";
@import "components/about";
@import "components/footer";
