body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// font-color
// boostrap color
$brand-primary: darken(#428bca, 6.5%); // #337ab7
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

$wireframe-background: #ccc;
$form-background: #eee;

// wtt brand color
$wtt-red: red;

.font-primary {
  color: $brand-primary;
}
.font-success {
  color: $brand-success;
}
.font-info {
  color: $brand-info;
}
.font-warning {
  color: $brand-warning;
}
.font-danger {
  color: $brand-danger;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
