@media (min-width: $screen-md-min) {
  #about {
    height: 765px;
    .about-container {
      width: 750px;
      padding: 2em 4em 2em 4em;
    }
  }
}

@media (max-width: $screen-md-min) {
  #about {
    .about-container {
      min-height: 300px;
      padding: 1em 2em 1em 2em;
    }
  }
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/about/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 1em 1em 1em;

  a {
    color: inherit;
  }

  a:hover {
    color: #337ab7
  }

  .about-container { 
    max-width: 1200px;
    opacity: 0.7;
    background-color: ghostwhite;
    .about-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      opacity: 1;
    }
    .about-content {
      text-align: left;
      opacity: 1;
    }
  }
}
