#about-div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 765px;
  width:100%;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/techwell-74c86.appspot.com/o/about%2Fbackground.jpg?alt=media&token=ebf14c84-98f0-458b-a67c-d9c040d915e8');
  background-repeat: no-repeat;
  background-size: cover;
  .about-container{
    opacity: 0.6;
    background-color:ghostwhite;
    height: 600px;
    width: 60%;
    padding: 20px 50px 20px 50px;
    .about-title{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      opacity: 1;
    }
    .about-content{
      text-align: left;
      word-break: break-all;
      opacity: 1;
    }
  }
}