#about{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 765px;
  background-image: url('../img/about/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .about-container{
    opacity: 0.6;
    background-color:ghostwhite;
    height: 600px;
    padding: 20px 50px 20px 50px;
    max-width: 1000px;
    .about-title{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      opacity: 1;
      color: black;
    }
    .about-content{
      text-align: left;
      word-break: break-all;
      opacity: 1;
      color: black;
    }
  }
}
