.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.product-div {
  border: 1px green solid;
  margin-top: 30px;
  .product {
    text-align: center;
    background-color: #000;
    color: white;
    .info{
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .series{
      height: 50px;
      background-color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        margin: 0;
        width:100px; 
        color: white;
      }
    }
  } 
}

.news-div {
  text-align: center;
  .item-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    .item {
        height: 393px;
        width: 315px;
        background-image: url('https://firebasestorage.googleapis.com/v0/b/techwell-74c86.appspot.com/o/news%2Fnews_item_BG.png?alt=media&token=4b97be14-cbcd-4949-8138-6148889177ba');
        background-repeat: no-repeat;
        img {
          margin-top:10px;
        }
    }
  }
}