#contact{
  .company-information{
    margin-top:30px;
    .company-introduction {
      text-align: left;
      div {
        padding: 0px 10px 0px 10px;
        .glyphicon {
          margin: 3px 5px 3px 3px;
          font-size: 15px;
        }
      }
      img {
        width:90%;
        display:block;
        margin: auto;
      }
      h4{
        text-align: center;
      }
    }
    .company-map{
      img {
        width:90%;
      }
    }
  }
}