@media (min-width: $screen-lg-min) {
  #news {
    .news-slider-container {
      padding-left: 40px;
      padding-right: 40px;
      margin: 0 auto;
      display: table;
      .news-item-container {
        max-width: 1100px;
      }
    }
  }
}

@media (max-width: $screen-lg-min) {
  #news {
    .news-slider-container {
      margin: 0 auto;
      max-width: 950px;
    }
  }
}

@media (max-width: $screen-md-min) {
  #news {
    .slick-prev {
      left: 3px;
      z-index: 1;
    }
    .slick-next {
      right: 3px;
      z-index: 1;
    }
    .news-slider-container {
      padding-left: 0px;
      padding-right: 0px;
      display: block;
    }
  }
}

#news {

  a {
    color: inherit;
  }

  a:hover {
    color: #337ab7
  }
  
  // reserve space for slick dots
  margin-bottom: 30px;
  .slick-prev:before,
  .slick-next:before {
    color: gray;
  }
  .news-title {
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .news-slider-container {
    .news-item-container {
      .newsItem-div {
        display: flex;
        align-items: center;
        justify-content: center;
        .item {
          text-align: center;
          height: 500px;
          width: 315px;
          word-break: break-all;
          background-image: url('../img/news/newsItem_background.png');
          background-repeat: no-repeat;
          background-size: 100% 100%;
          padding: 15px 10px 15px 10px;
          img {
            margin: 0 auto;
            width: 292px;
            height: 210px;
          }
        }
      }
    }
  }
}

.news_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
