#news {
  a {
    color: inherit;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
    .item-container {

      a {
        color: inherit;
      }

      .newsItem-div {
        display: flex;
        align-items: center;
        justify-content: center;

        .item {
          height: 393px;
          width: 315px;
          background-image: url('../img/news/newsItem_background.png');
          background-repeat: no-repeat;
          
          img {
            margin:auto;
            margin-top:10px;
            width:292px;
            height:210px;
          }
        }
      }
    }
  }
}
