$productImgMarginLeft: 18em;

#product {
  margin-top: 30px;
  padding: 0;
  .product-item {

    // common part of product info
    .product-info1, .product-info2 {
      padding: 0;
      height: 200px;
      .product-img {
        padding: 0;
        position: absolute;
        width: 200px;
        height: 200px;
        overflow: hidden;
        img {
          height: 100%;
        }
      }
    }

    .product-info1 {
      background-color:black;
      color: white;
      .product-img {
        margin-left: -$productImgMarginLeft;
      }
    } 
    .product-info2 {
      background-color:white;
      color: black;
      overflow: hidden;
      .product-img {
        margin-left: $productImgMarginLeft;
      }
    }

    .product-series {
      margin: 0 auto;
      height: 50px;
      background-color: red;
      p {
        margin: 0 auto;
        color: white;
      }
    }
  }
}
