#product {
  margin-top: 30px;

  .product-item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    color: white;
    height: 200px;
  } 
  .product-item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    color: black;
    height: 200px;
  }

  .series{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: red;
    p {
      margin: 0;
      width: 100px;
      color: white;
    }
  }
}
