$productImgMarginLeft: 18em;

@media (max-width: $screen-md-min) {
  .product-series,
  .product-series-item,
  .product-series-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: $screen-md-min) {
  .product-series-item,{
    padding-left: 0px;
    padding-right: 0px;
  }
}

#product {

  margin-top: 70px;
  a {
    color: inherit;
  }

  a:hover {
    color: #337ab7
  }

  .product-introduction {
    .product-header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .product-subheader {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.product-item {
  @media (min-width: $screen-lg-min) {
    .col-lg-offset-3 {
      margin-left: 25%;
    }
  }

  a {
    text-decoration: none;
  }

  // common part of product info
  .product-info1,
  .product-info2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    position:relative;
    overflow: hidden;
    .product-info-name {
      z-index: 1;
    }
    .product-img {
      position: absolute;
      width: 200px;
      height: 200px;
      overflow: hidden;
      img {
        height: 100%;
      }
    }
  }

  .product-info1:hover, .product-info2:hover {
    background-image: url("/img/product/product-hover.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .product-info1 {
    background-color:black;
    color: white;
    .product-img {
      margin-left: -$productImgMarginLeft;
    }
  } 
  .product-info2 {
    background-color:white;
    color: black;
    .product-img {
      margin-left: $productImgMarginLeft;
    }
  }

  .product-series {
    background-color: red;

    .product-series-container {
      text-align: center;

      .product-series-item {
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
        &:hover {
          background-color: #ee0000;
        }

        a {
          text-decoration: none;
          cursor: pointer;
          font-size: 15px;

          p {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            height: 50px;
            margin: 0;
            word-break: break-all;
          }
        }
      }
    }
  }
}

.product-create {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.product-series-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

