@media (min-width: $screen-md-min) { 
  #about {
    height: 765px;
    .about-container {
      height: 650px;
    }
  }
}

@media (max-width: $screen-md-min) {
  #about {
    .about-container {
      min-height: 300px;
    }
  }
}

#about{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/techwell-74c86.appspot.com/o/about%2Fbackground.jpg?alt=media&token=ebf14c84-98f0-458b-a67c-d9c040d915e8');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 1em 1em 1em;
  .about-container{
    max-width: 1200px;
    opacity: 0.7;
    background-color:ghostwhite;
    padding: 1em 2em 1em 2em;
    .about-title{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      word-break: break-all;
      opacity: 1;
      color: black;
    }
    .about-content{
      text-align: left;
      word-break: break-all;
      opacity: 1;
      color: black;
    }
  }
}
