@media (min-width: $screen-lg-min) { 
  #contact {
    .company-information {
      .company-name {
        text-align: left;
      }

      .company-introduction {
        text-align: left;
      }
    }
    .company-map{
      height: 475px;
      display: flex;
      justify-content: center;
      a, img {
        flex: none;
        height: 100%;
      }
    }
  }
}

@media (max-width: $screen-lg-min) { 
  #contact {
    .company-information {
      .company-name {
        text-align: center;
      }
      .company-map{
          height: 200px;
          display: flex;
          justify-content: center;
          a, img {
            flex: none;
            height: 100%;
          }
        }
      .company-introduction {
        .company-introduction-container {
          .company-introduction-info {
            text-align: center;
            padding: 15px 5px 0px 5px;
          }
        }
      }
    }
  }
}

#contact{
  .contact-title {
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .company-information{
    margin-top: 30px;

    .company-map{
      overflow: hidden;
    }

    .company-introduction {
      height: 475px;
      display: flex;
      justify-content: center;
      align-items: center;
      .company-introduction-container {
        height: 100%;
        width: 100%;
        .company-introduction-mainImg {
          height: 200px;
          display: flex;
          justify-content: center;
          overflow: hidden;
          img {
            flex: none;
            height: 100%;
          }
        }
        .company-introduction-info {
          height: 275px;
          padding-top: 15px;
          word-break: break-all;

          .glyphicon:not(.glyphicon-remove-circle) {
            margin: 3px 5px 3px 3px;
            font-size: 15px;
          }
          .icon-container {
            text-align: center;
            .icon {
              display: inline-block;
              width: 55px;
              > div {
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 auto;
                width: 45px;
                height: 45px;
              }
            }
          }
        }
      }
    }
  }
}

.contact-talk-icon {
  background-image: url('../img/contact/talk.png');
}
.contact-skype-icon {
  background-image: url('../img/contact/skype.png');
}
.contact-facebook-icon {
  background-image: url('../img/contact/facebook.png');
}
