@media (min-width: $screen-md-min) {
  .messageModal-text-field {
    max-width: 450px;
  }
}

.messageModal-open-btn {
  width: 125px;
  height: 35px;
  background-image: url('../img/talk.png');

  &:hover {
    background-image: url('../img/talk_2.png');
  }
}
.ruki-icon {
  height: 80px;
  width: 80px;
  background-image: url('../img/ruki.png');
}

.messageModal-text-field  {
  text-align: center;
  color: white;
  .messageModal-ruki-img {
    margin: 0 auto;
  }
  .messageModal-header {
    margin-bottom: 50px;
  }
  .messageModal-close {
    position: absolute;
    right: 0px;
    color: white;
    font-size: 2em;
  }
  .messageModal-input {
    color: white;
    background: transparent;
    margin-top: 10px;
    &::-webkit-input-placeholder {
      color: white;
    }
    &:-moz-placeholder {
      color: white;
    }
    &::-moz-placeholder {
      color: white;
    }
    &:-ms-input-placeholder {
      color: white;
    }
  }

  .messageModal-input-warning-message {
    text-align: left;
    padding-left: 10px;
    label {
      margin-top: 3px;
      margin-bottom: 10px;
    }
  }

  .messageModal-submit {
    color: white;
    background: transparent;
  }

  .messageModal-finish {
    color: white;
    background: $wtt-red;    
  }

  .messageModal-text {
    margin: 50px 0px;

  }

  .messageModal-empty-gap {
    padding-top: 50px;
  }
}
