$nav-height: 64px;

.container-with-nav-bar {
  padding-top: 64px;
}

.common-navbar {
  position: fixed;
  height: $nav-height;
  width: 100vw;
  background-color: #222;
  opacity: 0.9;
  z-index: 100;
  @media (max-width: $screen-md-min) {
    padding-right: 0px;
  }
}

// content block
#navbar {
  .navbar-content { // outer wrapper
    @media (max-width: $screen-md-min) {
      // mWweb
      .navbar-content-left {
        padding-right: 0px;
        padding-left: 0px;
        .navbar-content-item-pc {
          display: none;
        }
      }
      .navbar-content-right {
        padding-left: 0px;
      }

    }
    @media (min-width: $screen-md-min) {
      // pc
      .navbar-content-left {
        padding-right: 10%;
        .navbar-content-item-mweb {
          display: none;
        }
      }
      .navbar-content-right {
        padding-left: 10%;
      }
    }

    display: inline-flex;
    width: 100%;
    justify-content: space-between;

    .navbar-content-right,
    .navbar-content-left {
      display: flex;

      li {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: $nav-height;
        cursor: pointer;
      }
    }
    .dropdown-item-pc > a {
      padding: 4px 15px
    }
    .navbar-content-item {
      padding: 0 10px;

      // prevent line break
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .drop-icon {
        color: #9D9DA6;
        padding-left: 2px;
        font-size: 4px;
      }

      a {
        color: #9D9DA6;
        height: 100%;
        width: 100%;
        line-height: $nav-height;
        text-align: center;
        text-decoration: none;
      }
      @media (min-width: $screen-lg-min) {
        &:hover {
          background: $wtt-red;
        }
      }

      &.navbar-item-dropdown {
        align-content: center;

        &:hover {
          .navbar-item-dropdown-item {
            display: initial;
          }
        }

        &.drop-icon-lang-switch {
          width: 55px;
        }

        .navbar-item-dropdown-item {
          background-color: #222;
          z-index: 100;
          position: absolute;
          width: 55px;
          text-align: center;
          display: none;

          a {
            color: #9D9DA6;
            width: 100%;
            height: 20px;
            line-height: 30px;
          }

          &:nth-child(2) {
            top: 64px;
          }

          &:nth-child(3) {
            top: 94px;
          }
          &:nth-child(4) {
            top: 124px;
          }
          &:nth-child(5) {
            top: 154px;
          }
          &:nth-child(6) {
            top: 184px;
          }

          &:hover {
            display: initial;
            background: $wtt-red;
          }
        }

        .mweb-dropdown-item {
          width: 100vw;
          left: 0;

          // hotfix for incorrect touch zone
          > a {
            padding: 0px 40vw;
          }
        }
      }

      &.navbar-item-dropdown-locale {
        background: $wtt-red;
        a, span {
          color: white;
        }
      }
    }

    .navbar-content-logo {
      .navbar-content-logo-img {
        @media (max-width: $screen-md-min) {
          width: 83px;
          height: 38px;
        }
        width: 124px;
        height: 57px;
        padding: 0px 5px;
        background-image: url('../img/LOGO.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .navbar-content-message {
      text-align: center;
      margin-right: 7px;
    }
  }
}
