
/* Customize container */
@media (min-width: 1132px) {
  #page-product {
    max-width: 1094px;
  }
}

#page-product {
  a {
    color: inherit;
    &.download-link-url {
      color: #337ab7;
    }
  }
}

.products-contents {
  /* Everything but the jumbotron gets side spacing for mobile first views */

  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }

  .products-description {
    min-height: 341px;
    margin-left: 3px;

    @media (max-width: $screen-sm-min) {
      min-height: 0px;
      margin: 15px 0;
    }

    h1 {
      margin: 5px 0px;
      font-size: 2em;
    }
    h2 {
      margin: 5px 0px;
      font-size: 1.5em;
      color: $wtt-red;
    }

    .prod-descript-text {
      margin: 5px 0px; 
      .prod-descript-title {
        font-weight: bold;
      }
    }
  }

  .products-download-link {
    display: inline-block;
    margin-top: 5px;
    > div {
      display: inline-block;
      margin-left: 5px;
    }
  }

  .products-main-image {
    height: 590px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .products-sub-image {
    height: 238px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

}

.products-table {
  padding: 0 15px;
  .products-table-thead {
    background: black;
    color: white;

    th {
      text-align: center;
    }
  }

  .products-table-tbody {
    tr {
      text-align: center;
    }
  }

  .table-hover tbody tr:hover td {
    background: rgba(255, 0, 0, 0.2);;
  }
}
